
@import url(https://fonts.google.com/specimen/Epilogue);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
    color: rgba(105, 105, 105,);
}


.content
{
position: relative;
width: 100%;
display: inline-block;
justify-content: space-between;
align-items: center;
}



.content .textbox
{
    position: relative;
    max-width: 600px;
}